<div #infoSystemeHtml class="col-md-12">
  <style>
    tr th {
      width: 30%;
      padding: 2px 0 !important;
    }

    tr td {
      padding: 4px 0 !important;
    }

    .table-sm {
      font-size: .8em;
    }

    table {
      font-size: .9em;
    }
  </style>
  <section class="mb-2 mt-2">
    <h3>Informations système</h3>
  </section>
  <mat-divider></mat-divider>

  <table class="table table-borderless w-100 mt-3" *ngIf="service.infoCostume">
    <tbody>
      <tr>
        <td>Date/heur du jour</td>
        <td class="text-muted">{{date | date : "d MMMM yyyy HH:mm:ss"}}</td>
      </tr>
      <tr>
        <td>Nom de l'appareil</td>
        <td class="text-muted">{{service.infoCostume.name}}</td>
      </tr>
      <tr>
        <td>Système d'exploitation</td>
        <td class="text-muted">{{service.infoCostume.system}}</td>
      </tr>
      <tr>
        <td>Fabricant du système</td>
        <td class="text-muted">{{service.infoCostume.fabric}}</td>
      </tr>
      <tr>
        <td>Modèle du système</td>
        <td class="text-muted">{{service.infoCostume.model}}</td>
      </tr>
      <tr>
        <td>BIOS</td>
        <td class="text-muted">{{service.infoCostume.bios}}</td>
      </tr>
      <tr>
        <td>Processeur</td>
        <td class="text-muted">{{service.infoCostume.proce}}</td>
      </tr>

      <tr>
        <td>Mémoire</td>
        <td class="text-muted">{{service.infoCostume.mem}}MB RAM</td>
      </tr>

      <tr>
        <td>Graphique</td>
        <td class="text-muted">
          <p class="m-0" *ngFor="let e of service.infoCostume.graphics; let i=index">
            {{i + 1}} - {{e}}
          </p>
        </td>
      </tr>

      <tr>
        <td>Disque</td>
        <td class="text-muted">
          <p class="m-0" *ngFor="let e of service.infoCostume.disk; let i=index">
            {{i + 1}} - {{e}}
          </p>
        </td>
      </tr>

      <tr>
        <td>Réseau</td>
        <td class="text-muted">
          <div class="m-0" *ngFor="let e of service.infoCostume.reseau; let i=index">
            <!-- {{i + 1}} - {{e}} -->
            <table class="table table-sm w-100">
              <tbody>
                <tr>
                  <td>Type</td>
                  <td class="text-muted">{{e.iface}}</td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td class="text-muted">{{e.ifaceName}}</td>
                </tr>
                <tr>
                  <td>Adresse physique</td>
                  <td class="text-muted">{{e.mac}}</td>
                </tr>
                <tr>
                  <td>DHCP activé</td>
                  <td class="text-muted">{{e.dhcp ? 'Oui' : 'Non'}}</td>
                </tr>
                <tr>
                  <td>Adresse IPv4</td>
                  <td class="text-muted">{{e.ip4}}</td>
                </tr>
                <tr>
                  <td>Adresse IPv6 locale de lien</td>
                  <td class="text-muted">{{e.ip6}}</td>
                </tr>
              </tbody>
            </table>
            <mat-divider></mat-divider>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
