<p>general works!</p>


<div class="col-md-12">
  <h3>Informations système</h3>

  <table class="table table-borderless">
    <tbody>
      <tr>
        <th>Nom de l'appareil</th>
        <td class="text-muted">Mark</td>
      </tr>
      <tr>
        <th>Nom de l'appareil</th>
        <td class="text-muted">Mark</td>
      </tr>
      <tr>
        <th>Nom de l'appareil</th>
        <td class="text-muted">Mark</td>
      </tr>
      <tr>
        <th>Nom de l'appareil</th>
        <td class="text-muted">Mark</td>
      </tr>

    </tbody>
  </table>
</div>
