// p {
//   margin: 0;
// }

.table {
  color: #dedede !important;
}

.text-muted {
  color: #b5b5b5 !important;
}

.mycard:hover {
  box-shadow: 1px 5px 30px #cccccc;
  background-color: #5f5f5f;
  color: white;
}
