// p {
//   margin: 0;
// }

tr {
  th {width: 30%; padding: 1px 0 !important;}
  td {width: 70%; padding: 1px 0 !important;}
}

.table-sm {
  font-size: .8em;
}

.mycard {
  box-shadow: 1px 1px 10px #cfcfcf;
  &:hover {
    box-shadow: 1px 5px 30px #cccccc;
    background-color: white;
  }
}
