<div class="col-md-12">
  <h3>Programme</h3>
  <div *ngIf="service.infoCostume">

    <div *ngFor="let e of service.infoCostume.software; let i=index">
      <div class="row">
        <div class="col-md-12 m-1" style="box-shadow: 1px 1px 10px #cfcfcf;">
          <p>{{e.DisplayName}}</p>
          <p>{{e.InstallLocation}}</p>
          <p>{{e.InstallDate}}</p>
          <p>{{e.Publisher}}</p>
          <p>{{e.DisplayVersion}}</p>
          <p>{{e.EstimatedSize}}</p>
        </div>
      </div>

      <!-- <mat-divider></mat-divider> -->
    </div>
  </div>
</div>
