<mat-toolbar color="warn" class="mat-elevation-z6">

  <mat-toolbar-row>
    <button mat-button (click)="snav.toggle()" routerLinkActive="active">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- <span class="example-spacer"></span> -->
    <span class="w-100 h-100"  style="-webkit-app-region: drag;"></span>


    <!-- <button mat-icon-button color="primary" (click)="reset()">
      <mat-icon>refresh</mat-icon>
    </button> -->
    <button mat-button (click)="do('min')" style="border-radius: 0;margin-top: -14px; height: 40px;z-index: 9999;">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-button class="ml-1" (click)="do('max')" style="border-radius: 0;margin-top: -22px; height: 50px;z-index: 9999;">
      <mat-icon style="transform: scale(-1, -1); font-size: 1.2em;">filter_none</mat-icon>
    </button>
    <button mat-button class="ml-1 close" (click)="do('close')" style="border-radius: 0;margin-top: -14px; height: 40px;z-index: 9999;">
      <mat-icon>clear</mat-icon>
    </button>



    <!-- <button mat-raised-button color="primary" [matMenuTriggerFor]="beforeMenu">
      (me)

    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="disconnect()">Déconnecter</button>
    </mat-menu> -->
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container #sidenav class="example-sidenav-container" style="height: 100%;z-index: 9;">


  <mat-sidenav #snav [mode]="(!mobileQuery.matches) ? 'side' : 'push'" [opened]="opened && !mobileQuery.matches"
    [fixedInViewport]="true" fixedTopGap="40">

    <div class="d-flex justify-content-between flex-column h-100">


      <mat-nav-list class="list" style="width: 160px; padding: 0;">
        <!-- <mat-list-item (click)="tabIndex.setValue(1)">
        <mat-icon>home</mat-icon>&nbsp;<span>Acceuil</span>
        <mat-divider></mat-divider>
      </mat-list-item> -->

        <mat-list-item *ngFor="let e of pages" (click)="tabIndex.setValue(e.index)"
          [ngClass]="{'router-link-active': e.index === tabIndex.value}">
          <mat-icon>{{e.icon}}</mat-icon>&nbsp;<span>{{e.name}}</span>
        </mat-list-item>



      </mat-nav-list>

      <!-- <mat-form-field appearance="fill" style="width: 160px; margin-top: auto; padding: 0 10px;">
        <mat-label>Time</mat-label>
        <input matInput type="number" #time value="1000" required>
        <button mat-icon-button matSuffix (click)="post(time.value)">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field> -->
      <div class="d-flex flex-column">
        <button mat-raised-button class="m-1" color="warn" (click)="openDialog()"><mat-icon>send</mat-icon></button>
        <button mat-raised-button class="m-1 mt-3" color="warn" (click)="devTools()">DevTool</button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- <main [@routerTransition]="getState(o)" style="margin: 40px 0 0 5px; overflow: hidden;">
      <router-outlet #o="outlet"></router-outlet>
    </main> -->


    <main style="margin: 40px 0 0 5px; overflow: hidden;">
      <div class="example-loading-shade" *ngIf="!isDoneGetInfo">
        <!-- <mat-spinner *ngIf="true"></mat-spinner> -->
        <mat-progress-bar mode="determinate" [value]="loadPercent"></mat-progress-bar>
      </div>
      <mat-tab-group style="overflow: hidden;" headerPosition="top" [selectedIndex]="tabIndex.value"
        (selectedIndexChange)="tabIndex.setValue($event)">
        <mat-tab label="Product">
          <app-general></app-general>
        </mat-tab>

        <mat-tab label="purchase">
          <app-dash></app-dash>
        </mat-tab>

        <!-- <mat-tab label="Panier">
          <button mat-raised-button color="accent" (click)="tabIndex.setValue(1)">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <app-wifi></app-wifi>
        </mat-tab> -->
      </mat-tab-group>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
