
.router-link-active {
  // background-color: #673AB7 !important;
  // color: white;
  ::ng-deep .mat-list-item-content {
    .mat-icon {
      border-left: solid 5px #f44336;
    }
    color: #f44336;
  }

}

::ng-deep .mat-list-item-content {
  padding: 0 !important;
  .mat-icon {
    padding-left: 10px !important;
    margin-right: 20px !important;
    border-left: solid 5px rgba(0, 118, 215, 0);
  }
}



// ::ng-deep .mat-toolbar-row, .mat-toolbar-single-row {
//     height: 40px !important;
// }

.example-spacer {
  flex: 1 1 auto;
}


::ng-deep .mat-expansion-panel {
  border-radius: 0 !important;
}



// mat-sidenav {
//   background-color: #F4F4F4;
// }

::ng-deep .mat-drawer-side {
  border-right: solid 1px rgba(0, 0, 0, 0);
}


span {
  font-size: .9em;
}

main {
  // height: 100%;
}

.close {
  &:hover {
    background-color: red;
    color: white;
  }
}

mat-toolbar {
  min-height: 40px;
  // height: 50px;
  // width: 100%;
  // display: flex;
  // background-color: #3F51B5;
  // color: white;
  // -webkit-app-region: drag;
  height: 40px;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  p {
    margin: auto;
  }

  .mat-elevation-z6 {
    // box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }


}

.example-loading-shade {
  position: absolute !important;
  top: 0 !important;
  // left: 0 !important;
  // bottom: 56px !important;
  // right: 0 !important;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.15) !important;
  z-index: 10 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  mat-progress-bar {
    width: 200px;
  }
}
:host {
  overflow: hidden;
  // position: relative;


}

mat-sidenav-container {
  mat-sidenav {

    // box-shadow: 3px 0  5px -1px rgba(0,0,0,.2), 6px 0 10px 0 rgba(0,0,0,.14), 1px 0 18px 0 rgba(0,0,0,.12);
  }



}

::ng-deep .mat-tab-label-container {
  display: none !important;
}

::ng-deep .mat-tab-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
}

::ng-deep .mat-tab-group {
  background-color: rgba(255, 255, 255, 0) !important;
}

::ng-deep .mat-tab-body.mat-tab-body-active {
  width: 100% !important;
}


::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}


