<mat-toolbar class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-button (click)="snav.toggle()" routerLinkActive="active">
      <mat-icon>menu</mat-icon>
    </button>
    <p></p>
    &nbsp;&nbsp;&nbsp;
    <!-- <p>{{(this.myMedia.windowSizeChanged | async).width}}</p> -->
    <span class="example-spacer"></span>
    <!-- <p>role : {{session.getUser.profil.label}}</p> -->
    <!-- <button mat-button matTooltip="Theme" [matMenuTriggerFor]="menuT" style="margin-right: 5px;">
      <mat-icon>format_color_fill</mat-icon>
    </button> -->
    <mat-menu #menuT="matMenu">
      <button mat-menu-item (click)="changeTheme('dark-theme')">
        <mat-icon style="color: black;">color_lens</mat-icon><strong>Dark</strong>
      </button>
      <button mat-menu-item (click)="changeTheme('default-theme')">
        <mat-icon style="color: #1976d2;">color_lens</mat-icon><strong>Light</strong>
      </button>
    </mat-menu>

    <button mat-raised-button color="primary" [matMenuTriggerFor]="beforeMenu">
      (me)

    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="disconnect()">Déconnecter</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container #sidenav class="example-sidenav-container" style="height: 100%;z-index: 9;">
  <mat-sidenav #snav [mode]="(!mobileQuery.matches) ? 'side' : 'push'" [opened]="opened && !mobileQuery.matches"
    [fixedInViewport]="true" fixedTopGap="40">
    <mat-nav-list class="list" style="width: 320px; padding: 0;">
      <mat-list-item [routerLink]="['/admin/dash']" routerLinkActive="router-link-active">
        <mat-icon>home</mat-icon>&nbsp;<span>Acceuil</span>
        <mat-divider></mat-divider>
      </mat-list-item>

      <mat-list-item *ngFor="let e of pages" [routerLink]="[e.path]" routerLinkActive="router-link-active" >
        <mat-icon>{{e.icon}}</mat-icon>&nbsp;<span>{{e.name}}</span>
      </mat-list-item>


      <!-- <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Paramétrage
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list-item [routerLink]="['/admin/role']" routerLinkActive="router-link-active">
            <mat-icon>control_point_duplicate</mat-icon>&nbsp;<span>Role</span>
            <mat-divider></mat-divider>
          </mat-list-item>

        </mat-expansion-panel>
      </mat-accordion> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


    <!-- <div style="margin: 65px auto 15px;" class="mybreadcrumb">
        <div *ngFor="let s of patchRoute" class="items">
          <a [routerLink]="['/home/connection']">{{ s !== '-1' ? s : 'nauveau'}}</a><mat-icon>navigate_next</mat-icon>
        </div>
      </div> -->
    <main [@routerTransition]="getState(o)" style="margin: 40px 0 0 5px; overflow: hidden;">
      <router-outlet #o="outlet"></router-outlet>
    </main>

    <!-- <footer>
        <mat-toolbar class="mt-2 text" color="primary">
          <mat-toolbar-row style="height: 70px">
            <span style="margin-left: auto; margin-right: auto;"> © {{ d | date:"dd/MMMM/yyyy" }} - Yaasin MOURABIT</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>
